@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    @apply flex h-full w-full items-center justify-center bg-gray-100;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.toggle li.active {
    @apply bg-blue-600 text-white;
}

.toggle li:hover:not(.active) {
    @apply bg-blue-200;
}

.field {
    @apply mb-2 h-8 w-32 resize-none rounded-md border-[0.5px] border-gray-200 text-center text-xl shadow-md;
}

.picker {
    -ms-overflow-style: none;
    scrollbar-width: none;
    @apply relative m-0 h-full select-none snap-y snap-mandatory list-none overflow-y-scroll scroll-auto p-0;
}

.picker::-webkit-scrollbar {
    @apply hidden;
}

.picker li {
    @apply h-10 snap-center content-center p-1 text-center opacity-50 transition-all duration-300;
}

.selected {
    @apply text-2xl font-bold !opacity-100;
}
