@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    @apply flex h-full w-full items-center justify-center text-black sm:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:sm:bg-gray-800;
}

* {
    @apply text-center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.toggle li.active {
    @apply bg-blue-600 text-white;
}

.toggle li:hover:not(.active) {
    @apply bg-blue-200 dark:bg-gray-700;
}

.field {
    @apply h-full w-24 resize-none rounded-md border border-gray-200 text-xl shadow-md dark:border-gray-600 dark:bg-gray-800;
}

.change-value {
    @apply shrink touch-manipulation rounded-md bg-blue-500 p-1 text-xs font-semibold text-white shadow-md transition-colors duration-200;
}

.change-value:hover {
    @apply bg-blue-600;
}

.picker {
    -ms-overflow-style: none;
    scrollbar-width: none;
    @apply relative m-0 h-full select-none snap-y snap-mandatory list-none overflow-y-scroll scroll-auto p-0;
    @apply rounded-xl border border-gray-200 shadow-md dark:border-gray-600;
}

.picker::-webkit-scrollbar {
    @apply hidden;
}

.picker li {
    @apply h-10 snap-center content-center p-1 opacity-50 transition-all duration-300;
}

.selected {
    @apply text-2xl font-bold !opacity-100;
}

.highlight-value {
    @apply font-bold text-blue-600;
}

.footer {
    @apply text-xl font-medium;
}

#itemUSAge {
    @apply text-3xl font-bold;
}
